@charset "utf-8";


::selection {
    background-color: #A7DF00;
    color: #000;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: #171717;
}

::-webkit-scrollbar-track {
    background: #171717;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e3e3e3;
}

html {
    scroll-snap-type: y mandatory;
    position: relative;

    & *{
        box-sizing: border-box;
    }

    .container {
        height: 100vh;
        scroll-snap-align: start;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #171717;
        color: #fff;
    }
    .container > div {
        min-width: 70vw;
        // min-height: 400px;
        // margin: 1.25rem;
        // background: #f5f5f5;
        overflow: hidden;
    }

    .container img {
        width: 300px;
        height: 400px;
    }

    @media (max-width: 500px) {
        .container > div {
            width: 150px;
            height: 200px;
        }

        .container img {
            width: 150px;
            height: 200px;
        }
    }

    .container h2 {
        color: #c8fe26;//#4ff0b7
        margin: 0;
        font-size: 50px;
        font-weight: 700;
        letter-spacing: -3px;
        line-height: 1.2;
        position: absolute;
        display: inline-block;
        top: calc(50% - 25px);
        left: calc(50% + 120px);
    }

    .progress {
        position: fixed;
        top: 0px;
        left: 0;
        right:0;
        height: 5px;
        background: #c8fe26;
        transform: scaleX(0);
    }
}


@media (max-width: 640px) {
    .App{
        
    }
}