@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

body {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, "Iropke Batang", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Pretendard Variable", Pretendard, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
