$color__black: #000;
$color__white: #fff;
$color__bg: #010101;

$color__text-01: #333;
$color__text-02: #7B7B7B;
$color__text-03: #b4c2c2e7;
$color__text-04: #8f9696e7;

$main: #321F3F;
$main-text-01:#FCCC32;
$main-text-02:#4D97AF;

// 색상 변수
$btn-blue: blue;
$btn-red: red;
$btn-green: green;
$btn-yellow: yellow;
$btn-white: white;
$btn-black: black;